# Introduction

This notebook focuses on scraping football match data, processing, and exporting it for analysis.

# Data Collection

The following cells are dedicated to importing necessary libraries and extracting URLs for team data and match details.

In [1]:
import requests

In [2]:
standings_url = "https://fbref.com/en/comps/9/Premier-League-Stats"

In [3]:
data = requests.get(standings_url)

In [4]:
from bs4 import BeautifulSoup

In [5]:
soup = BeautifulSoup(data.text)
standings_table = soup.select('table.stats_table')[0]
links = standings_table.find_all('a')
links = [l.get("href") for l in links]
links = [l for l in links if '/squads/' in l]

In [6]:
team_urls = [f"https://fbref.com{l}" for l in links]

In [7]:
data = requests.get(team_urls[0])

# Data Extraction and Cleaning

Extracting match details, statistics, and cleaning the data for analysis.

In [8]:
import pandas as pd
matches = pd.read_html(data.text, match="Scores & Fixtures")[0]

In [9]:
soup = BeautifulSoup(data.text)
links = soup.find_all('a')
links = [l.get("href") for l in links]
links = [l for l in links if l and 'all_comps/shooting/' in l]

In [10]:
data = requests.get(f"https://fbref.com{links[0]}")

In [11]:
shooting = pd.read_html(data.text, match="Shooting")[0]

In [12]:
shooting.head()

  For Liverpool                                                             \
           Date   Time            Comp        Round  Day Venue Result   GF
0    2023-08-13  16:30  Premier League  Matchweek 1  Sun  Away      D  1.0
1    2023-08-19  15:00  Premier League  Matchweek 2  Sat  Home      W  3.0
2    2023-08-27  16:30  Premier League  Matchweek 3  Sun  Away      W  2.0
3    2023-09-03  14:00  Premier League  Matchweek 4  Sun  Home      W  3.0
4    2023-09-16  12:30  Premier League  Matchweek 5  Sat  Away      W  3.0

                       ... Standard               Expected                    \
    GA       Opponent  ...     Dist   FK PK PKatt       xG npxG npxG/Sh G-xG
0  1.0        Chelsea  ...     17.8  0.0  0     0      1.3  1.3    0.10 -0.3
1  1.0    Bournemouth  ...     16.8  1.0  0     1      3.0  2.1    0.09  0.0
2  1.0  Newcastle Utd  ...     17.2  1.0  0     0      0.9  0.9    0.10  1.1
3  0.0    Aston Villa  ...     14.7  0.0  0     0      2.5  2.5    0.15 -0.5
4  1.0         Wolves  ...     15.8  0.0  0     0      2.5  2.5    0.16 -0.5

          Unnamed: 25_level_0
  np:G-xG        Match Report
0    -0.3        Match Report
1     0.9        Match Report
2     1.1        Match Report
3    -0.5        Match Report
4    -0.5        Match Report

[5 rows x 26 columns]

In [13]:
shooting.columns = shooting.columns.droplevel()

In [14]:
team_data = matches.merge(shooting[["Date", "Sh", "SoT", "Dist", "FK", "PK", "PKatt"]], on="Date")

In [15]:
team_data.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Formation,Referee,Match Report,Notes,Sh,SoT,Dist,FK,PK,PKatt
0,2023-08-13,16:30,Premier League,Matchweek 1,Sun,Away,D,1.0,1.0,Chelsea,...,4-3-3,Anthony Taylor,Match Report,NaN,13,1,17.8,0.0,0,0
1,2023-08-19,15:00,Premier League,Matchweek 2,Sat,Home,W,3.0,1.0,Bournemouth,...,4-3-3,Thomas Bramall,Match Report,NaN,25,9,16.8,1.0,0,1
2,2023-08-27,16:30,Premier League,Matchweek 3,Sun,Away,W,2.0,1.0,Newcastle Utd,...,4-3-3,John Brooks,Match Report,NaN,9,4,17.2,1.0,0,0
3,2023-09-03,14:00,Premier League,Matchweek 4,Sun,Home,W,3.0,0.0,Aston Villa,...,4-3-3,Simon Hooper,Match Report,NaN,17,4,14.7,0.0,0,0
4,2023-09-16,12:30,Premier League,Matchweek 5,Sat,Away,W,3.0,1.0,Wolves,...,4-3-3,Michael Oliver,Match Report,NaN,16,5,15.8,0.0,0,0

# Data Aggregation

Aggregating data across multiple years to compile a comprehensive dataset.

In [16]:
years = list(range(2024, 2014, -1))
all_matches = []

In [17]:
standings_url = "https://fbref.com/en/comps/9/Premier-League-Stats"

In [19]:
import time
for year in years:
    data = requests.get(standings_url)
    soup = BeautifulSoup(data.text)
    standings_table = soup.select('table.stats_table')[0]

    links = [l.get("href") for l in standings_table.find_all('a')]
    links = [l for l in links if '/squads/' in l]
    team_urls = [f"https://fbref.com{l}" for l in links]
    
    previous_season = soup.select("a.prev")[0].get("href")
    standings_url = f"https://fbref.com{previous_season}"
    
    for team_url in team_urls:
        team_name = team_url.split("/")[-1].replace("-Stats", "").replace("-", " ")
        data = requests.get(team_url)
        matches = pd.read_html(data.text, match="Scores & Fixtures")[0]
        soup = BeautifulSoup(data.text)
        links = [l.get("href") for l in soup.find_all('a')]
        links = [l for l in links if l and 'all_comps/shooting/' in l]
        data = requests.get(f"https://fbref.com{links[0]}")
        shooting = pd.read_html(data.text, match="Shooting")[0]
        shooting.columns = shooting.columns.droplevel()
        try:
            team_data = matches.merge(shooting[["Date", "Sh", "SoT", "Dist", "PK", "PKatt"]], on="Date")
        except ValueError:
            continue
        team_data = team_data[team_data["Comp"] == "Premier League"]
        
        team_data["Season"] = year
        team_data["Team"] = team_name
        all_matches.append(team_data)
        time.sleep(1)

In [20]:
len(all_matches)

340

In [21]:
match_df = pd.concat(all_matches)
match_df.columns = [c.lower() for c in match_df.columns]
match_df

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2023-08-13,16:30,Premier League,Matchweek 1,Sun,Away,D,1.0,1.0,Chelsea,...,Match Report,NaN,13.0,1.0,17.8,0.0,0,0.0,2024,Liverpool
1,2023-08-19,15:00,Premier League,Matchweek 2,Sat,Home,W,3.0,1.0,Bournemouth,...,Match Report,NaN,25.0,9.0,16.8,1.0,0,1.0,2024,Liverpool
2,2023-08-27,16:30,Premier League,Matchweek 3,Sun,Away,W,2.0,1.0,Newcastle Utd,...,Match Report,NaN,9.0,4.0,17.2,1.0,0,0.0,2024,Liverpool
3,2023-09-03,14:00,Premier League,Matchweek 4,Sun,Home,W,3.0,0.0,Aston Villa,...,Match Report,NaN,17.0,4.0,14.7,0.0,0,0.0,2024,Liverpool
4,2023-09-16,12:30,Premier League,Matchweek 5,Sat,Away,W,3.0,1.0,Wolves,...,Match Report,NaN,16.0,5.0,15.8,0.0,0,0.0,2024,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,2007-04-18,NaN,Premier League,Matchweek 34,Wed,Away,L,1,3,Blackburn,...,Match Report,NaN,NaN,NaN,NaN,NaN,0,NaN,2015,Watford
34,2007-04-21,NaN,Premier League,Matchweek 35,Sat,Home,D,1,1,Manchester City,...,Match Report,NaN,NaN,NaN,NaN,NaN,0,NaN,2015,Watford
35,2007-04-28,NaN,Premier League,Matchweek 36,Sat,Away,L,0,1,Sheffield Utd,...,Match Report,NaN,NaN,NaN,NaN,NaN,0,NaN,2015,Watford
36,2007-05-05,NaN,Premier League,Matchweek 37,Sat,Away,W,2,0,Reading,...,Match Report,NaN,NaN,NaN,NaN,NaN,0,NaN,2015,Watford
37,2007-05-13,NaN,Premier League,Matchweek 38,Sun,Home,D,1,1,Newcastle Utd,...,Match Report,NaN,NaN,NaN,NaN,NaN,1,NaN,2015,Watford

# Exporting Data

Saving the final dataset to a CSV file for future analysis.

In [22]:
match_df.to_csv(r"C:\Users\santo\OneDrive\Documents\R unit 2\Programming\Matches.csv")